
.card {
    text-align:center;
    background: #888;
    border-radius: 10px;
    height:430px;
    box-shadow: 2px 2px 2px black;
  }
 
  h4{
    margin-bottom: -20px;
  
  }
  img{
    width:65%;
    border-radius: 100%;
    border: 1px solid black;
  }

  img:hover{
    transform: scale(1.2);
    transition: all .3s;
    animation: rotate 2s linear infinite;
    cursor: pointer;

  }

 
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }