.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearch{
    border-radius: 20px;
    width: 20rem;
    height: 30px;
}
.buttonSearch{
    width: 5rem;
    height: 33px;
    border-radius: 20px;
}